.fixed-container {
    .title {
        text-align: center;
        font-size: 2rem;
        line-height: 1.2;
        margin: 0.5rem;
    }
    .border {
        border-width: 3px !important;
    }
    .login-form {
        max-width: 30rem;
        margin: auto;
        padding: 20px 0 30px;
        .caption {
            margin: 5px;
        }
        .error-form {
            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            padding: 20px;
        }
        .btn {
            margin-top: 20px;
            text-transform: uppercase;
            nb-icon {
                vertical-align: middle;
                margin: 0 5px 0 0;
                padding: 0;
            }
        }
    }
}
