.header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99;

    .title-group {
        .menu-button { 
            margin-right: 5px;
        }

        .title {
            vertical-align: middle;
        }
    }
}