.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;

    height: 40px;

    > span {
        font-weight: 300;
        font-size: 0.8rem;
    }

    strong {
        color: var(--text-default);

        span {
           opacity: 0.8;
        }
    }

    .material-icons {
        color: var(--red);
        font-size:1.4em;
        vertical-align: middle;
        text-align: center;
    }
}
